## Scikit-Learn (sklearn) library

### An end to end Scikit-learn workflow

In [16]:
import pandas as pd
import numpy as np
heart_diseases = pd.read_csv('heart-disease.csv')
heart_diseases

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
# create a feature matrix X 
X = heart_diseases.drop("target", axis=1)

#create y
y = heart_diseases["target"]

In [7]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

1. An end-to-end Scikit-Learn worfklow
2. Getting the data ready
3. Choosing the right maching learning estimator/aglorithm/model for your problem
4. Fitting your chosen machine learning model to data and using it to make a prediction
5. Evaluting a machine learning model
6. Improving predictions through experimentation (hyperparameter tuning)
7. Saving and loading a pretrained model
8. Putting it all together in a pipeline

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [11]:
#fit the data in our model

In [15]:
clf.fit(X_train, y_train);

In [25]:
y_preds = clf.predict(X_test)

In [18]:
Y_preds

array([1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0])

In [23]:
#Evaluating the model 
clf.score(X_train, y_train)

1.0

In [22]:
clf.score(X_test, y_test)

0.8032786885245902

In [26]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.78      0.83      0.81        30
           1       0.83      0.77      0.80        31

    accuracy                           0.80        61
   macro avg       0.80      0.80      0.80        61
weighted avg       0.80      0.80      0.80        61

In [28]:
#Compute confusion matrix to evaluate the accuracy of a classification.
confusion_matrix(y_test, y_preds)

array([[25,  5],
       [ 7, 24]])

In [29]:
#imporove our model
#trying with different amount of n_estimators

In [32]:
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators..")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test)*100:.2f}%")

Trying model with 10 estimators..
Model accuracy on test set: 81.97%
Trying model with 20 estimators..
Model accuracy on test set: 75.41%
Trying model with 30 estimators..
Model accuracy on test set: 80.33%
Trying model with 40 estimators..
Model accuracy on test set: 73.77%
Trying model with 50 estimators..
Model accuracy on test set: 81.97%
Trying model with 60 estimators..
Model accuracy on test set: 80.33%
Trying model with 70 estimators..
Model accuracy on test set: 80.33%
Trying model with 80 estimators..
Model accuracy on test set: 78.69%
Trying model with 90 estimators..
Model accuracy on test set: 78.69%

In [33]:
#save the model
import pickle
pickle.dump(clf, open("random_forest_model_1.pk1", "wb"))

In [34]:
loaded_model = pickle.load(open("random_forest_model_1.pk1", "rb"))
loaded_model.score(X_test, y_test)

0.7868852459016393

In [35]:
#import warnings
# warnings.filterwarnings("ignore")

In [37]:
import sklearn
sklearn.show_versions()

System:
    python: 3.10.4 (main, Mar 31 2022, 03:37:37) [Clang 12.0.0 ]
executable: /Users/ishwarjangid/Desktop/test/ML-AI-and-Data-Science-/env/bin/python
   machine: macOS-12.5-arm64-arm-64bit

Python dependencies:
      sklearn: 1.1.1
          pip: 22.1.2
   setuptools: 61.2.0
        numpy: 1.23.1
        scipy: 1.7.3
       Cython: None
       pandas: 1.4.3
   matplotlib: 3.5.1
       joblib: 1.1.0
threadpoolctl: 2.2.0

Built with OpenMP: True

threadpoolctl info:
       filepath: /Users/ishwarjangid/Desktop/test/ML-AI-and-Data-Science-/env/lib/libopenblasp-r0.3.20.dylib
         prefix: libopenblas
       user_api: blas
   internal_api: openblas
        version: 0.3.20
    num_threads: 8
threading_layer: pthreads
   architecture: armv8

       filepath: /Users/ishwarjangid/Desktop/test/ML-AI-and-Data-Science-/env/lib/libomp.dylib
         prefix: libomp
       user_api: openmp
   internal_api: openmp
        version: None
    num_threads: 8

In [38]:
heart_diseases.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [39]:
X = heart_diseases.drop("target",  axis =1)

In [40]:
y = heart_diseases["target"]

In [41]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

### Split data in training and test sets

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [44]:
X_train.shape, X_test.shape, y_test.shape

((242, 13), (61, 13), (61,))

In [45]:
len(X)

303

In [46]:
len(X_train)

242

In [47]:
303*0.2

60.6

## Fill the missing data

## Tips: 
    1. More data is not always good
    2. Clean data -> Transform data -> Reduce data
    3. Clean data: Remove missing data, remove row, column, fill empty with average, remove outliers data
    4. Transform data: Convert non-numeric to numbers so that computer can understand, eg colors in RGB value, b/w 0 and 1
    5. Reduce data: To get same result in less data, less CPU powers, dimensionality reduction.