In [1]:
import pandas as pd

In [2]:
series = pd.Series(["BMW", "Toyota", "Honda"])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [5]:
colors = pd.Series(["red", "blue", "black"])
colors

0      red
1     blue
2    black
dtype: object

In [6]:
car_data = pd.DataFrame({"colors": colors, "cars": series})

In [7]:
car_data

  colors    cars
0    red     BMW
1   blue  Toyota
2  black   Honda

In [10]:
#import data
car_sales = pd.read_csv("car-sales.csv")

In [11]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [14]:
#from url importing dataframe
car_sales_url = pd.read_csv("https://github.com/mrdbourke/zero-to-mastery-ml/blob/master/data/car-sales.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 28, saw 509